body {  }
/*Jumbotron */
.jumbotron {
  padding-top: 70px;
  height: 240px;
  background: transparent;
  background: url("background.jpg") center center;
  margin-bottom: -30px;
  font-family: 'Judson', serif;
}

h1,h2{
 color = "#ffffff";
 font-family: 'Montserrat', sans-serif;   
 text-transform: uppercase; 
 
}

h3, h4, h5, h6 
{
  font-family: 'Montserrat', sans-serif;    
}

p{
  margin-top: 25px;
   margin-left: 100px;
   margin-right: 100px;
}
section#title img {
  padding-top: 30px;
  border-radius: 50%;
}

.social {
  padding-top: 35px;
  padding-left: 0px;  
}

.social li {
  display: inline;
  padding: 20px
}
