
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/JetBrainsMono-Regular.woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("fonts/JetBrainsMono-Medium.woff2");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/JetBrainsMono-Bold.woff2");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Montserrat-Bold.woff2");
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: rgba(255, 255, 255, 0.85);
        --content-wrap-background-color: #202326;
        --content-background-color: #2e3236;
        /* Decrease the logo opacity when using the dark theme to be less distracting */
        --logo-opacity: 0.85;

        --navbar-background-color: #25282b;
        --navbar-background-color-hover: #333639;
        --navbar-background-color-active: #111417;
        --navbar-current-background-color: #333639;
        --navbar-current-background-color-hover: #44474a;
        --navbar-current-background-color-active: #222528;
        --navbar-category-active-color: rgba(238 115 129 / 10%);
        --navbar-current-color: #fefefe;
        --navbar-level-1-color: #ddd;
        --navbar-level-2-color: #ccc;
        --navbar-level-3-color: #bbb;
        --navbar-expand-base-color: #80848e;
        --navbar-expand-hover-color: #ccc;
        --navbar-expand-active-color: #ddd;
        --navbar-dimmed-color: #bbb;
        --navbar-heading-color: #ee7381;
        --navbar-scrollbar-color: #be5460;
        --navbar-scrollbar-hover-color: #963e48;
        --navbar-scrollbar-active-color: #5f3034;
        --navbar-scrollbar-background: #1c1e21;

        --link-color: #8cf;
        --link-color-hover: #9df;
        --link-color-active: #6ad;
        --link-color-visited: #cb99f6;
        --class-reference-icon: url("data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNS4wMjkgMWMtLjk5OS0uMDExLTIuMDA5LjMxMi0zLjAyOSAxdjdjMi4wMTctMS4zNTMgNC4wMTctMS4zMTQgNiAwIDEuOTgzLTEuMzE0IDMuOTgzLTEuMzUzIDYgMHYtN2MtMS4wMi0uNjg4LTIuMDMtMS4wMTEtMy4wMjktMS0uNjYyLjAwNy0xLjMxOC4xNzMtMS45NzEuNDYzdjQuNTM3aC0xdi00Yy0uOTgyLS42NDUtMS45NzEtLjk4OS0yLjk3MS0xem0tNS4wMjkgOXY2aDJjMS42NDYgMCAzLTEuMzU0IDMtM3MtMS4zNTQtMy0zLTN6bTUgM2MwIDEuNjQ2IDEuMzU0IDMgMyAzczMtMS4zNTQgMy0zLTEuMzU0LTMtMy0zLTMgMS4zNTQtMyAzem02IDBjMCAxLjY0NiAxLjM1NCAzIDMgM2gxdi0yaC0xYy0uNTQ5IDAtMS0uNDUxLTEtMXMuNDUxLTEgMS0xaDF2LTJoLTFjLTEuNjQ2IDAtMyAxLjM1NC0zIDN6bS05LTFjLjU0OSAwIDEgLjQ1MSAxIDFzLS40NTEgMS0xIDF6bTYgMGMuNTQ5IDAgMSAuNDUxIDEgMXMtLjQ1MSAxLTEgMS0xLS40NTEtMS0xIC40NTEtMSAxLTF6IiBmaWxsPSIjYmZiZmJmIiBmaWxsLW9wYWNpdHk9Ii41OSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+Cg==");
        --external-reference-icon: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyIiB3aWR0aD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjOGNmIj48cGF0aCBkPSJtNy41IDcuMXYzLjRoLTZ2LTZoMy40Ii8+PHBhdGggZD0ibTUuNzY1IDFoNS4yMzV2NS4zOWwtMS41NzMgMS41NDctMS4zMS0xLjMxLTIuNzI0IDIuNzIzLTIuNjktMi42ODggMi44MS0yLjgwOC0xLjMxMy0xLjMxeiIvPjwvZz48L3N2Zz4K");

        --hr-color: #555;
        --table-row-odd-background-color: #3b3e41;
        --code-background-color: #22252d;
        --code-border-color: #505356;
        --code-literal-color: #d68f8f;
        --input-background-color: #333537;
        --input-focus-border-color: #5f8cff;

        --tabs-background-color: #434649;
        --tabs-selected-color: #a2a9ae;
        --code-tabs-background-color: #353c4c;
        --code-tabs-selected-color: #5a657e;

        --classref-primary-color: #e8e8e8;
        --classref-secondary-color: #929598;
        --classref-setget-color: #9e9fa0;

        --search-input-background-color: #43464a; /* derived from --input-background-color */
        --search-match-color: #52b4ff; /* derived from --link-color */
        --search-match-background-color: #414c56; /* derived from --link-color */
        --search-active-color: #202326;
        --search-credits-background-color: #202123; /* derived from --navbar-background-color */
        --search-credits-color: #6b6b6b; /* derived from --footer-color */
        --search-credits-link-color: #628fb1; /* derived from --link-color */

        --search-odd-color: #202326;
        --search-even-color: #25282b;
        --search-highlighted-color: rgb(255 205 0 / 16%);
        --search-context-color: #aaa;

        /* Colors taken from the Godot script editor with the Adaptive theme */
        --highlight-background-color: #202531;
        --highlight-background-emph-color: #2d3444;
        --highlight-default-color: rgba(255, 255, 255, 0.85);
        --highlight-comment-color: rgba(204, 206, 211, 0.5);
        --highlight-doc-comment-color: rgba(153, 179, 204, 0.8);
        --highlight-region-comment-color: rgba(173, 117, 196, 20);
        --highlight-keyword-color: #ff7085;
        --highlight-literal-color: var(--highlight-keyword-color);
        --highlight-keyword2-color: #42ffc2;
        --highlight-control-flow-keyword-color: #ff8ccc;
        --highlight-number-color: #a1ffe0;
        --highlight-decorator-color: #ffb373;
        --highlight-base-type-color: #42ffc2;
        --highlight-engine-type-color: #8fffdb;
        --highlight-user-type-color: #c7ffed;
        --highlight-member-variable-color: #bce0ff;
        --highlight-function-color: #57b3ff;
        --highlight-function-declaration-color: #66e6ff;
        --highlight-global-function-color: #a3a3f5;
        --highlight-operator-color: #abc8ff;
        --highlight-string-color: #ffeca1;
        --highlight-get-node-shorthand-color: #63c259;
        --highlight-node-path-color: #b8c47d;
        --highlight-string-name-color: #ffc2a6;

        --copybtn-background-color: #2a303c;
        --copybtn-background-color-hover: #3e4450;
        --copybtn-border-color: #3e4450;
        --copybtn-border-color-hover: #8b949e;
        --copybtn-icon-color: #8b949e;
        --copybtn-icon-color-success: #3fb950;
        --copybtn-tooltip-background-color: #6e7681;
        --copybtn-box-shadow: 0 0 transparent, 0 0 transparent;
        --copybtn-border-color-success: #238636;

        --contribute-background-color: #25282d;
        --contribute-text-color: #7f939b;

        --admonition-note-background-color: #303d4f;
        --admonition-note-color: #bfeeff;
        --admonition-note-title-background-color: #305070;
        --admonition-note-title-color: #bfefff;
        --admonition-attention-background-color: #444033;
        --admonition-attention-color: #ffeeaf;
        --admonition-attention-title-background-color: #665022;
        --admonition-attention-title-color: #ffeeaf;
        --admonition-danger-background-color: #433;
        --admonition-danger-color: #fcc;
        --admonition-danger-title-background-color: #633;
        --admonition-danger-title-color: #fcc;
        --admonition-tip-background-color: #28382d;
        --admonition-tip-color: #dfd;
        --admonition-tip-title-background-color: #336648;
        --admonition-tip-title-color: #dfd;

        --kbd-background-color: #595b5d;
        --kbd-outline-color: #3d4144;
        --kbd-shadow-color: #1e2023;
        --kbd-text-color: #e2f2ff;

        --role-button-background-color: #22252d;

        --code-example-good-color: #3fb950;
        --code-example-bad-color: #f85149;

        --btn-neutral-background-color: #404040;
        --btn-neutral-hover-background-color: #505050;
        --footer-color: #aaa;
    }
}

/* Syntax highlighting */

.highlight {
    background-color: var(--highlight-background-color);
    tab-size: 4;
}

/* Remove default red boxes around Pygments errors */
.highlight .err {
    border: none;
}

/* Default Pygments styles make all of these bold */
.highlight .k /* Keyword */,
.highlight .ges /* Generic.EmphStrong */,
.highlight .gh /* Generic.Heading */,
.highlight .gp /* Generic.Prompt */,
.highlight .gs /* Generic.Strong */,
.highlight .gu /* Generic.Subheading */,
.highlight .kc /* Keyword.Constant */,
.highlight .kd /* Keyword.Declaration */,
.highlight .kn /* Keyword.Namespace */,
.highlight .kr /* Keyword.Reserved */,
.highlight .nc /* Name.Class */,
.highlight .nd /* Name.Decorator */,
.highlight .ni /* Name.Entity */,
.highlight .nl /* Name.Label */,
.highlight .nn /* Name.Namespace */,
.highlight .nt /* Name.Tag */,
.highlight .ow /* Operator.Word */,
.highlight .se /* Literal.String.Escape */ {
    font-weight: revert;
}

/* Emphasized lines */
.highlight .hll {
    background-color: var(--highlight-background-emph-color);
}

.highlight .n /* Name */ {
    color: var(--body-color);
}

.highlight .gh /* Generic.Heading */,
.highlight .gu /* Generic.Subheading */,
.highlight .go /* Generic.Output */,
.highlight .gt /* Generic.Traceback */ {
    color: var(--highlight-default-color);
}

.highlight .c  /* Comment */,
.highlight .c1 /* Comment.Single */,
.highlight .cm /* Comment.Multiline */,
.highlight .cs /* Comment.Special */ {
    color: var(--highlight-comment-color);
}

.highlight .bp /* Name.Builtin.Pseudo */,
.highlight .k  /* Keyword */,
.highlight .kc /* Keyword.Constant */,
.highlight .kd /* Keyword.Declaration */,
.highlight .kn /* Keyword.Namespace */,
.highlight .kp /* Keyword.Pseudo */,
.highlight .kr /* Keyword.Reserved */,
.highlight .kt /* Keyword.Type */,
.highlight .ow /* Operator.Word */ {
    color: var(--highlight-keyword-color);
}

.highlight .k-ControlFlow /* Keyword.ControlFlow */ {
    color: var(--highlight-control-flow-keyword-color);
}

.highlight .ch /* Comment.Hashbang */,
.highlight .cp /* Comment.Preproc */ {
    color: var(--highlight-keyword2-color);
}

.highlight .l  /* Literal */ {
    color: var(--highlight-literal-color)
}

.highlight .m  /* Literal.Number */,
.highlight .mf /* Literal.Number.Float */,
.highlight .mi /* Literal.Number.Integer */,
.highlight .il /* Literal.Number.Integer.Long */,
.highlight .mb /* Literal.Number.Bin */,
.highlight .mh /* Literal.Number.Hex */,
.highlight .mo /* Literal.Number.Oct */ {
    color: var(--highlight-number-color);
}

.highlight .na /* Name.Attribute */,
.highlight .nd /* Name.Decorator */,
.highlight .ni /* Name.Entity */,
.highlight .nl /* Name.Label */ {
    color: var(--highlight-decorator-color);
}
.highlight .nb /* Name.Builtin */,
.highlight .ne /* Name.Exception */ {
    color: var(--highlight-engine-type-color);
}

.highlight .nc /* Name.Class */,
.highlight .nn /* Name.Namespace */,
.highlight .no /* Name.Constant */,
.highlight .nv /* Name.Variable */,
.highlight .vc /* Name.Variable.Class */,
.highlight .vg /* Name.Variable.Global */,
.highlight .vm /* Name.Variable.Magic */ {
    color: var(--highlight-user-type-color);
}

.highlight .vi /* Name.Variable.Instance */ {
    color: var(--highlight-member-variable-color);
}

.highlight .nf /* Name.Function */,
.highlight .fm /* Name.Function.Magic */,
.highlight .nt /* Name.Tag */ {
    color: var(--highlight-function-color);
}

.highlight .o  /* Operator */,
.highlight .p  /* Punctuation */,
.highlight .si /* Literal.String.Interpol */,
.highlight .sx /* Literal.String.Other */,
.highlight .sr /* Literal.String.Regex */,
.highlight .ss /* Literal.String.Symbol */ {
    color: var(--highlight-operator-color);
}

.highlight .cpf/* Comment.PreprocFile */,
.highlight .s  /* Literal.String */,
.highlight .s1 /* Literal.String.Single */,
.highlight .s2 /* Literal.String.Double */,
.highlight .sc /* Literal.String.Char */,
.highlight .se /* Literal.String.Escape */,
.highlight .sa /* Literal.String.Affix */,
.highlight .sb /* Literal.String.Backtick */,
.highlight .dl /* Literal.String.Delimiter */,
.highlight .sd /* Literal.String.Doc */,
.highlight .sh /* Literal.String.Heredoc */ {
    color: var(--highlight-string-color);
}

.highlight .nf.nf-Declaration /* Name.Function.Declaration */ {
	color: var(--highlight-function-declaration-color);
}

.highlight .nb.nb-Type /* Name.Builtin.Type */ {
	color: var(--highlight-base-type-color);
}

.highlight .c.c-Doc /* Comment.Doc */ {
	color: var(--highlight-doc-comment-color);
}

.highlight .c.c-Region /* Comment.Region */ {
	color: var(--highlight-region-comment-color);
}

.highlight .nb.nb-Function /* Name.Builtin.Function */ {
	color: var(--highlight-global-function-color);
}

.highlight .sx /* String.Other */ {
	color: var(--highlight-get-node-shorthand-color);
}

.highlight .s.s-NodePath /* String.NodePath */ {
	color: var(--highlight-node-path-color);
}

.highlight .s.s-StringName /* String.StringName */ {
	color: var(--highlight-string-name-color);
}

/* Make light-scheme code blocks use the same bg as dark */
[data-md-color-scheme="default"] {
  /* reuse your dark value */
  --highlight-background-color: #363d4e;
}

/* Ensure MkDocs Material's <pre> uses it */
[data-md-color-scheme="default"] .md-typeset pre,
[data-md-color-scheme="default"] .md-typeset pre > code,
[data-md-color-scheme="default"] .highlight {
  background-color: var(--highlight-background-color) !important;
}

/* Make headings bold across all themes */
.md-typeset h1,
.md-typeset h2{
  font-weight: 700; /* bold */
  font-family: "Montserrat", var(--system-font-family); /* optional: match your header font */
}